<div class="col-lg-12" style="margin-top:5%">
  <div class="card">
    <div class="card-header"><h3 class="pb-20 text-center mb-30">Book an Appointment</h3></div>
    <div class="panel-body">
      <form class="form-wrap" action="#">
        <input type="text" class="form-group form-control" name="name" placeholder="Member Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Name'">
        <input type="text" class="form-group form-control" name="phone" placeholder="Phone " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
        <input type="email" class="form-group form-control" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
        <input id="datepicker1" name="dop" class="form-group form-control hasDatepicker" placeholder="Date of Birth" type="text">
        

        <input id="datepicker2" class="dates form-control form-group hasDatepicker" placeholder="appointment Date" type="text">
        <textarea name="messege" class="form-control" rows="5" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"></textarea>
        <div class="row"><div class="col-lg-5 offset-4"> <button class="primary-btn text-uppercase" style="width:100%;margin-top:2%">Confirm Booking</button></div></div>
      </form>
    </div>
  </div>
</div>
