<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <input type="search"  style="border-radius:0.9em" /><i class="fas fa-stroopwafel"></i>
    </div>
  </div>
  <div class="row" style="margin-top:1%">
    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">
          Member Details:
        </h5>
        <div class="card-body">
          <h5 class="card-title">Test</h5>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">
          Pending payments:
        </h5>
        <div class="card-body">
          <h5 class="card-title">Test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">
          Members In For the day:
        </h5>
        <div class="card-body">
          <h5 class="card-title">Test</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:1%">
    <app-boardnewclient class="col-sm-12"></app-boardnewclient>
  </div>


</div>

